# Core dependencies
fastapi[all]
uvicorn
sqlalchemy
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
python-dotenv
bcrypt==4.0.1

# Testing
pytest
pytest-asyncio
httpx

# # ML-related dependencies (si ton projet utilise du ML)
# tensorflow
# keras
# pillow
# numpy

# # Mailing
# aiosmtplib

# HTTP client
requests
