fastapi[all]
uvicorn
sqlalchemy
pydantic
passlib[bcrypt]
python-jose[cryptography]
pytest
pytest-asyncio
httpx
email-validator
tensorflow 
keras 
pillow
numpy
python-multipart
tensorflow
dotenv
requests
bcrypt==4.0.1
python-dotenv 
aiosmtplib
